#title,
#content{
	border: 1px solid #eee;
	border-radius: 5px;
	padding:10px;
}
#content{
	width:1000px;
	min-height: 300px;
	display: block;
	margin-top: 10px;
	overflow: auto;
}
#submit{
	padding:10px 20px;
	background-color: #007aff;
	color:white;
	border-radius:5px;
	margin-top: 10px;
}
