.content .title  .methods span{
	cursor: pointer;
}
.content .title{
	margin-top: 10px;
	padding:10px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.main .nav{
	padding:10px;
}
.main .nav .nav-item{
	cursor: pointer;
}
#artTitle{
	border:1px solid #eee;
	padding:5px 10px;
	margin:10px;
	border-radius: 5px;
}
#postBtn{
	padding:5px 10px;
	float: right;
}
.methods span,
.methods a{
	margin-right:10px;
}
