.art-list{
	width:100%;
	padding-top:10px;
}
.art-list .art-title{
	font-size: 20px;
	color:black;
	background-color: rgba(255,255,255,.5);
	border-radius: 5px;
	display: block;
	padding:20px;
	width:98%;
	margin:0 auto 10px;
}
.art-list .art-title .art-link{
	font-size: 20px;
	font-weight: bold;
	display: block;
	text-align: center;	
}
.art-list .art-title .art-time{
	font-size: 13px;
	text-align: center;
	margin-right:20px;
}
#goback{
	display: block;
	position: fixed;
	padding:10px;
	background-color: #fff;
	border-radius: 50%;
	bottom:20px;
	right:20px;
}