h1{
	font-size: 50px;
	font-weight: bold;
	color: white;
}
h4{
	font-size: 20px;
	color: white;
}
#head{
			background-image: url(../img/huanghun.jpg);
			-webkit-background-size: 100% 50%;
			background-size: 100% 100%;
			background-repeat: no-repeat;
			background-color: #fff;
			height: 50%;
		}
		#itemBox{
			width:100%;
			padding: 10px;
		}
		#footer{
			background-color: #ddd;
			height: 300px;
		}
		.item{
			display: inline-block;
			width:18%;
			height:280px;
			margin: 20px 1% 20px;
			background-color: #fff;
			border-radius: 5px;
			box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
			padding:10px;
		}
		.item:hover .i-title{
			font-size: 25px;
		}
		.item:hover{
			box-shadow: 4px 4px 8px rgba(0,0,0,0.3);
			margin:10px 1% 30px;
		}
		.i-title{
			font-size: 20px;
			font-weight: bold;
			color: #343434;
			background-color: #DF9B41;
			padding:10px;
			border-radius: 5px;
			-ms-word-break: break-all;
			word-break: break-all;
		}
		
		.i-tags{
			padding:1px 10px;
			margin-top:10px;
			display: inline-block;
			border-radius: 20px;
			border:1px solid gray;
			font-size: 12px;
		}
		.i-des{
			margin-top: 10px;
		}