#time:before{
	content:'发表于：';
	color:#007aff;
}
#time{
	border-bottom: 1px solid #ddd;
}
#artTitle,
#time,
#artContent{
	width:98%;
	margin:0 auto;
}
#artContent pre{
	max-width: 100%;
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break:break-all;
}
#artContent *{
	max-width: 100%;
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break:break-all;
}
#artTitle,
#time{
	text-align: center;
}
#goback,
#goArticle{
	display: block;
	padding:10px;
	border-radius: 50%;
	background-color: #007aff;
	color:white;
	position: fixed;
}
#goback{
	right:20px;
	bottom:20px;
}
#goArticle{
	right:20px;
	bottom:80px;
}
#mask{
	width:100%;
	height:100%;
	position: fixed;
	left:0;
	top:0;
	background-color: #fff;
	text-align: center;
	line-height: 300px;
}
#mask img{
	position: fixed;
	bottom:0;
	left:0;
}