/*common*/
.pos-re{
	position: relative;
}
.pos-ab{
	position: absolute;
}
/*menuBar*/
#menuBar{
	width:100%;
	background-color: #ddd;
	position: fixed;
}
.menu-item{
	height:35px;
	line-height: 35px;
	padding:0 10px;
	color:#3e3e3e;
	display: inline-block;
}
.menu-item-active{
	background-color: orange;
}
.menu-item:hover{
	background-color: #aaa;
}
/*optionsBox*/
.menu-item-options{
	position: fixed;
	top:35px;
	left:0;
	background-color: orange;
	width: 100%;
	z-index: 999;
}
.menu-item-options-i{
	padding:10px;
	display: inline-block;
	color:#3e3e3e;
}
.menu-item-options-i:hover{
	color:white;
	font-weight: bold;
}
/*main*/
#main{
	height:100%;
	padding-top: 35px;
}
/*paintBoard*/
#paintBoard{
	width:85%;
	min-height: 100%;
}
/*sideBar*/
#sideBar{
	height:100%;
	width:15%;
	background-color: white;
	overflow-y:scroll;
}
.side-box{
	margin-top: 10px;
	border:1px solid #ddd;
	border-radius: 5px;
	padding-bottom: 10px;
}
.side-box-title{
	text-align: center;
	padding:10px;
	background-color: #ddd;
}
.item-box{
	max-height: 200px;
	overflow-y:scroll;
}
.side-box-item{
	margin:0 10px;
	padding:5px;
	cursor:pointer;
	border-bottom: 1px dotted #ddd;
}
.side-box-item-active{
	background-color: orange;
	color:white;
}
#addLayer{
	background-color: #aaa;
	margin:10px;
	padding:5px;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
}
.layer-view{
	display: inline-block;
	width:10px;
	height:10px;
	background-color: green;
	float: right;
	margin-top:5px;
}
.layer-hide{
	float:right;
	margin-top:5px;
	display: inline-block;
	width:10px;
	height:10px;
	background-color: red;
}